
<body>
    <div class="flex justify-center h-screen mt-20">
        <div class="text-center mt-10">
            <i data-feather="settings" class="w-24 h-24 mx-auto mb-4 text-gray-500"></i>
            <h1 class="text-4xl font-bold mb-4">¡Sitio En Construcción!</h1>
           
              
       
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/feather-icons/dist/feather.min.js"></script>
    <script>
        feather.replace()
    </script>
</body>