
<div class="container mx-auto my-12 mt-20">


    <div class="container mx-auto p-8">

        <div class="container mx-auto p-8">
    <h1 class="text-3xl font-bold mb-6">Generar Reporte Excel</h1>
    <form class="bg-white p-4 rounded shadow-md">
        <!--Agregar campos de base de datos-->
      <div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4">

         <div class="mb-4">
          <label class="block font-medium mb-2">
            <input type="checkbox" name="id" class="mr-2">
            ID
          </label>
        </div>

        <div class="mb-4">
          <label class="block font-medium mb-2">
            <input type="checkbox" name="id_agencia" class="mr-2">
            AGENCIA
          </label>
        </div>

        <div class="mb-4">
          <label class="block font-medium mb-2">
            <input type="checkbox" name="nombre" class="mr-2">
            NOMBRE
          </label>
        </div>

        <div class="mb-4">
          <label class="block font-medium mb-2">
            <input type="checkbox" name="departamento" class="mr-2">
            DEPARTAMENTO
          </label>
        </div>

        <div class="mb-4">
          <label class="block font-medium mb-2">
            <input type="checkbox" name="correo" class="mr-2">
            CORREO
          </label>
        </div>

        <div class="mb-4">
          <label class="block font-medium mb-2">
            <input type="checkbox" name="serie" class="mr-2">
            SERIE
          </label>
        </div>

        <div class="mb-4">
          <label class="block font-medium mb-2">
            <input type="checkbox" name="cpu" class="mr-2">
            CPU
          </label>
        </div>

        <div class="mb-4">
          <label class="block font-medium mb-2">
            <input type="checkbox" name="ram" class="mr-2">
            RAM
          </label>
        </div>

           <div class="mb-4">
          <label class="block font-medium mb-2">
            <input type="checkbox" name="disco_duro" class="mr-2">
            DISCO DURO
          </label>
        </div>

           <div class="mb-4">
          <label class="block font-medium mb-2">
            <input type="checkbox" name="monitor" class="mr-2">
            MONITOR
          </label>
        </div>

         <div class="mb-4">
          <label class="block font-medium mb-2">
            <input type="checkbox" name="teclado" class="mr-2">
            TECLADO
          </label>
        </div>

         <div class="mb-4">
          <label class="block font-medium mb-2">
            <input type="checkbox" name="mouse" class="mr-2">
            MOUSE
          </label>
        </div>

         <div class="mb-4">
          <label class="block font-medium mb-2">
            <input type="checkbox" name="tableta" class="mr-2">
            TABLETA
          </label>
        </div>

         <div class="mb-4">
          <label class="block font-medium mb-2">
            <input type="checkbox" name="adaptador" class="mr-2">
            ADAPTADOR
          </label>
        </div>

         <div class="mb-4">
          <label class="block font-medium mb-2">
            <input type="checkbox" name="so" class="mr-2">
            S/O
          </label>
        </div>

         <div class="mb-4">
          <label class="block font-medium mb-2">
            <input type="checkbox" name="licencia" class="mr-2">
            TIPO DE LICENCIA
          </label>
        </div>

         <div class="mb-4">
          <label class="block font-medium mb-2">
            <input type="checkbox" name="direccion_ip" class="mr-2">
            DIRECCIÓN IP
          </label>
        </div>

         <div class="mb-4">
          <label class="block font-medium mb-2">
            <input type="checkbox" name="direccion_ip_wifi" class="mr-2">
            DIRECCIÓN IP WIFI
          </label>
        </div>

        <div class="mb-4">
          <label class="block font-medium mb-2">
            <input type="checkbox" name="mac_address" class="mr-2">
            MAC ADDRESS
          </label>
        </div>

        <div class="mb-4">
          <label class="block font-medium mb-2">
            <input type="checkbox" name="mac_address_wifi" class="mr-2">
            MAC ADDRESS WIFI
          </label>
        </div>

        <div class="mb-4">
          <label class="block font-medium mb-2">
            <input type="checkbox" name="factura" class="mr-2">
            FACTURA
          </label>
        </div>

        <div class="mb-4">
          <label class="block font-medium mb-2">
            <input type="checkbox" name="costo" class="mr-2">
            COSTO
          </label>
        </div>

        <div class="mb-4">
          <label class="block font-medium mb-2">
            <input type="checkbox" name="fecha" class="mr-2">
            FECHA
          </label>
        </div>

        <div class="mb-4">
          <label class="block font-medium mb-2">
            <input type="checkbox" name="proveedor" class="mr-2">
            PROVEEDOR
          </label>
        </div>

        <div class="mb-4">
          <label class="block font-medium mb-2">
            <input type="checkbox" name="via_compra" class="mr-2">
            VIA DE COMPRA
          </label>
        </div>

        <div class="mb-4">
          <label class="block font-medium mb-2">
            <input type="checkbox" name="garantia" class="mr-2">
            GARANTIA
          </label>
        </div>

        <div class="mb-4">
          <label class="block font-medium mb-2">
            <input type="checkbox" name="usuario_anterior" class="mr-2">
            USUARIO ANTERIOR
          </label>
        </div>

        <div class="mb-4">
          <label class="block font-medium mb-2">
            <input type="checkbox" name="otro" class="mr-2">
            OTRO
          </label>
        </div>

        <div class="mb-4">
          <label class="block font-medium mb-2">
            <input type="checkbox" name="comentario" class="mr-2">
            COMENTARIO
          </label>
        </div>












        <!-- Agrega los otros campos de la misma manera -->
      </div>
      <!-- Agrega el botón para generar el informe -->
      <button type="submit" class="bg-blue-500 hover:bg-blue-600 text-white py-2 px-4 mt-4 rounded-md focus:outline-none focus:shadow-outline">Generar Informe</button>
    </form>
  </div>
 

  </div>


</div>


