
<div  class="container mx-auto my-12 mt-20 ">
  <div class="flex flex-col md:flex-row items-center justify-between ">
    <h1 class="text-3xl font-bold mb-4">Exportar Informe</h1>
  </div>


  <div class="grid grid-rows-4 grid-flow-col gap-4 rounded-md border mb-4"> <!-- Añade mb-4 o mb-8 para margen abajo -->
    <!-- Botón de exportar a CSV -->
    <a href="/export-csv" 
    class="block mx-auto bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" 
    id="botton">Exportar Inventario</a>
</div>

<div class="grid grid-rows-4 grid-flow-col gap-4 rounded-md border mt-4"> <!-- Añade mt-4 o mt-8 para margen arriba -->
    <!-- Botón de exportar a CSV -->
    <a href="/export-agency" 
    class="block mx-auto bg-purple-500 hover:bg-purple-600 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" 
    id="botton3">Exportar Agencias</a>
</div>




  <!-- Checkbox para seleccionar todos los campos -->
    <div class="flex items-center mb-4">
      <input type="checkbox" id="select-all" class="mr-2">
      <label for="select-all" class="text-sm">SELECCIONAR TODOS </label>
    </div>

<div id="mainDiv2" class="rounded-lg border border-gray-300">
  <form id="exportForm" action="/export-selected" method="post" class="m-4" >
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4">

        <div class="flex items-center">
            <input type="checkbox" id="id" name="campos[]" value="id" class="mr-2" checked>
            <label for="id">ID</label>
        </div>
        <div class="flex items-center">
            <input type="checkbox" id="nombre_agencia" name="campos[]" value="nombre_agencia" class="mr-2">
            <label for="nombre_agencia">Agencia</label>
        </div>
        <div class="flex items-center">
            <input type="checkbox" id="nombre" name="campos[]" value="nombre" class="mr-2">
            <label for="nombre">Nombre</label>
        </div>
        <div class="flex items-center">
            <input type="checkbox" id="departamento" name="campos[]" value="departamento" class="mr-2">
            <label for="departamento">Departamento</label>
        </div>
        <div class="flex items-center">
            <input type="checkbox" id="correo" name="campos[]" value="correo" class="mr-2">
            <label for="correo">Correo</label>
        </div>
        <div class="flex items-center">
            <input type="checkbox" id="serie" name="campos[]" value="serie" class="mr-2">
            <label for="serie">Serie</label>
        </div>
        <div class="flex items-center">
            <input type="checkbox" id="cpu" name="campos[]" value="cpu" class="mr-2">
            <label for="cpu">CPU</label>
        </div>
        <div class="flex items-center">
            <input type="checkbox" id="ram" name="campos[]" value="ram" class="mr-2">
            <label for="ram">RAM</label>
        </div>
        <div class="flex items-center">
            <input type="checkbox" id="disco_duro" name="campos[]" value="disco_duro" class="mr-2">
            <label for="disco_duro">Disco Duro</label>
        </div>
        <div class="flex items-center">
            <input type="checkbox" id="monitor" name="campos[]" value="monitor" class="mr-2">
            <label for="monitor">Monitor</label>
        </div>
        <div class="flex items-center">
            <input type="checkbox" id="teclado" name="campos[]" value="teclado" class="mr-2">
            <label for="teclado">Teclado</label>
        </div>
        <div class="flex items-center">
            <input type="checkbox" id="mouse" name="campos[]" value="mouse" class="mr-2">
            <label for="mouse">Mouse</label>
        </div>
        <div class="flex items-center">
            <input type="checkbox" id="tableta" name="campos[]" value="tableta" class="mr-2">
            <label for="tableta">Tableta</label>
        </div>
        <div class="flex items-center">
            <input type="checkbox" id="adaptador" name="campos[]" value="adaptador" class="mr-2">
            <label for="adaptador">Adaptador</label>
        </div>
        <div class="flex items-center">
            <input type="checkbox" id="so" name="campos[]" value="so" class="mr-2">
            <label for="so">Sistema Operativo</label>
        </div>
        <div class="flex items-center">
            <input type="checkbox" id="licencia" name="campos[]" value="licencia" class="mr-2">
            <label for="licencia">Licencia</label>
        </div>
        <div class="flex items-center">
            <input type="checkbox" id="direccion_ip" name="campos[]" value="direccion_ip" class="mr-2">
            <label for="direccion_ip">Dirección IP</label>
        </div>
        <div class="flex items-center">
            <input type="checkbox" id="direccion_ip_wifi" name="campos[]" value="direccion_ip_wifi" class="mr-2">
            <label for="direccion_ip_wifi">Dirección IP WiFi</label>
        </div>
        <div class="flex items-center">
            <input type="checkbox" id="mac_address" name="campos[]" value="mac_address" class="mr-2">
            <label for="mac_address">MAC Address</label>
        </div>
        <div class="flex items-center">
            <input type="checkbox" id="mac_address_wifi" name="campos[]" value="mac_address_wifi" class="mr-2">
            <label for="mac_address_wifi">MAC Address WiFi</label>
        </div>
        <div class="flex items-center">
            <input type="checkbox" id="factura" name="campos[]" value="factura" class="mr-2">
            <label for="factura">Factura</label>
        </div>
        <div class="flex items-center">
            <input type="checkbox" id="costo" name="campos[]" value="costo" class="mr-2">
            <label for="costo">Costo</label>
        </div>
        <div class="flex items-center">
            <input type="checkbox" id="fecha" name="campos[]" value="fecha" class="mr-2">
            <label for="fecha">Fecha</label>
        </div>
        <div class="flex items-center">
            <input type="checkbox" id="proveedor" name="campos[]" value="proveedor" class="mr-2">
            <label for="proveedor">Proveedor</label>
        </div>
        <div class="flex items-center">
            <input type="checkbox" id="via_compra" name="campos[]" value="via_compra" class="mr-2">
            <label for="via_compra">Vía de Compra</label>
        </div>
        <div class="flex items-center">
            <input type="checkbox" id="garantia" name="campos[]" value="garantia" class="mr-2">
            <label for="garantia">Garantía</label>
        </div>
        <div class="flex items-center">
            <input type="checkbox" id="usuario_anterior" name="campos[]" value="usuario_anterior" class="mr-2">
            <label for="usuario_anterior">Usuario Anterior</label>
        </div>
        <div class="flex items-center">
            <input type="checkbox" id="otro" name="campos[]" value="otro" class="mr-2">
            <label for="otro">Otros</label>
        </div>
        <div class="flex items-center">
            <input type="checkbox" id="comentario" name="campos[]" value="comentario" class="mr-2">
            <label for="comentario">Comentarios</label>
        </div>
        <div class="flex items-center">
            <input type="checkbox" id="activo" name="campos[]" value="activo" class="mr-2">
            <label for="activo">Activo</label>
        </div>

          <div class="flex items-center">
            <input type="checkbox" id="filename" name="campos[]" value="filename" class="mr-2">
            <label for="filename">Filename</label>
        </div>
    </div>
    <button type="submit" class="block mx-auto bg-green-500 hover:bg-green-600 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" id="botton2">Exportar Campos</button>
</form>

</div>

</div>

<!-- Notificación de error, inicialmente oculta -->
<div class="hidden fixed flex items-center justify-between z-10 bottom-0 right-0 mb-4 mr-4 bg-red-500 text-white py-2 px-4 rounded-md" id="error">
    <div class="flex items-center">
        <i class="fas fa-times-circle mr-2"></i>
        <p class="text-sm">Seleccionar al menos 2 campos.</p>
    </div>
</div>

<script>
  // JavaScript para manejar la selección/deselección de todos los checkboxes
  const selectAllCheckbox = document.getElementById('select-all');
  const checkboxes = document.querySelectorAll('input[type="checkbox"][name="campos[]"]');

  selectAllCheckbox.addEventListener('change', function() {
    checkboxes.forEach(checkbox => {
      checkbox.checked = selectAllCheckbox.checked;
    });
  });

  document.getElementById('exportForm').addEventListener('submit', function(e) {
    // Contar checkboxes que están checked y no están disabled
    const checkedCount = Array.from(document.querySelectorAll('input[type="checkbox"]:not(:disabled)'))
                            .filter(checkbox => checkbox.checked).length;

    // Verificar que al menos 1 checkbox adicional esté seleccionado
    if (checkedCount < 2) { // Cambia este número según tus requisitos
        e.preventDefault(); // Prevenir el envío del formulario
        document.getElementById('error').classList.remove('hidden'); // Mostrar la notificación de error
        document.getElementById('botton').classList.add('pointer-events-none');
        document.getElementById('botton2').classList.add('pointer-events-none');
        document.getElementById('mainDiv2').classList.add('bg-gray-300');
        document.getElementById('botton').classList.add('bg-gray-300');
        document.getElementById('botton3').classList.add('pointer-events-none');
        document.getElementById('botton3').classList.add('bg-gray-300');
        
        
        showNotification(); // Llama a la función que oculta la notificación después de 3 segundos
    }
});

function showNotification() {
    setTimeout(function() {
        document.getElementById('error').classList.add('hidden'); // Ocultar la notificación después de 3 segundos
        document.getElementById('botton').classList.remove('pointer-events-none');
        document.getElementById('botton').classList.remove('pointer-events-none');
        document.getElementById('botton2').classList.remove('pointer-events-none');
        document.getElementById('mainDiv2').classList.remove('bg-gray-300');
        document.getElementById('botton').classList.remove('bg-gray-300');
        document.getElementById('botton3').classList.remove('pointer-events-none');
        document.getElementById('botton3').classList.remove('bg-gray-300');

    }, 3000);
}




</script>









  
