<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <style type="text/css">
        body {
            margin: 0;
            padding: 0;
            font-family: 'Tw Cen MT', sans-serif;
        }

        #container {
            max-width: 8.5in; /* Ancho máximo para hoja carta (letter) */
            margin: 0 auto; /* Centrar el contenido horizontalmente */
            padding: 20px;
            text-align: center; /* Centrar el texto horizontalmente */
        }

        #header img {
            max-width: 100%;
            height: auto;
        }

        h2 {
            font-size: 24px;
            margin-top: 20px;
        }

        table {
            width: 100%;
            margin-top: 20px;
            border-collapse: collapse;
        }

        table, th, td {
            border: 1px solid #dddddd;
        }

        th, td {
            padding: 8px;
            text-align: left;
        }

        th {
            background-color: black;
            color: white;
        }

        label {
            display: block;
            margin-top: 20px;
        }

        #firma {
            width: 100px;
            height: 100px;
        }
    </style>
</head>
<body>
    <div id="container">
        <div id="header">
            <img src="/images/group 1.png" width="150" alt="Logo de la Empresa">
        </div>
        <h2>CONSTANCIA DE ENTREGA DE EQUIPO</h2>
        <table>
            <tr>
                <th>PARA:</th>
                <td>DEFRY JOSUE SOCOP VENTURA</td>
            </tr>
            <tr>
                <th>DE:</th>
                <td>GERSON ALTAN</td>
            </tr>
            <tr>
                <th>EMPRESA:</th>
                <td>OFS</td>
            </tr>
            <tr>
                <th>FECHA:</th>
                <td>08-07-2022</td>
            </tr>
        </table>
        <label>
            Por este medio se hace constar que el día de hoy se hizo entrega a:
            <b>DEFRY JOSUE SOCOP VENTURA</b> de una computadora con las siguientes especificaciones.
        </label>
        <table>
            <tr>
                <th>TIPO DE EQUIPO</th>
                <th>DETALLE</th>
            </tr>
            <tr>
                <td>SERIE:</td>
                <td>DCS98XC</td>
            </tr>
            <tr>
                <td>MODELO/CPU:</td>
                <td>DELL LATITUDE 7420 Core i7-1165G7 2.80 GHz</td>
            </tr>
            <!-- Agrega las demás filas aquí -->
        </table>
        <label>
            Dicho equipo fue entregado en buenas condiciones y previamente configurado acorde a sus necesidades laborales.
        </label>
        <label>
            <b>DEFRY JOSUE SOCOP VENTURA</b>
            <br>
            _________________________________
        </label>
        <label>
            <b>GERSON ALTAN:</b>
            <br>
            <img id="firma" src="img/f_galtan.png" alt="Firma de Gerson Altan">
        </label>
    </div>
</body>
</html>
