<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Inventario WOL</title>

    <!-- Tailwind CSS Link -->
    <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.0.1/tailwind.min.css">

    <!-- Fontawesome Link -->
    <link href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" rel="stylesheet">

     <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.0/font/bootstrap-icons.css"
    />

    <link rel="icon" href="/src/views/layouts/wol-icon-fav.ico">

  </head>
  <body class="bg-gray-200 pb-2">
    <nav class="flex py-5 bg-gray-900 text-white px-24 fixed w-full top-0">
      <div class="w-1/2 px-12 mr-auto">
   
        <h1 class="text-2xl font-bold text-center">INVENTARIO</h1>

      </div>

      <ul class="w-1/2 px-16 ml-auto flex justify-end pt-1">
       {{#if name}}
        <li class="nav-item px-4">
          <a href="/logout" class="nav-link font-semibold border-2 border-red hover:bg-red-300 hover:text-black py-3
            px-4 rounded-md">Salir</a>
        </li>


              <span
                class="absolute text-white text-4xl top-5 left-4 cursor-pointer fixed"
                onclick="openSidebar()"
                ><i class="fas fa-bars px-2 bg-gray-900 rounded-md"></i>
              </span>


        {{else}}
        <li class="nav-item px-4">
          <a href="/login" class="nav-link font-semibold hover:bg-gray-700 py-3 px-4 rounded-md">Login</a>
        </li>

        <li class="nav-item px-4">
          <a href="/register" class="nav-link font-semibold border-2 border-white hover:bg-white hover:text-black py-3
            px-4 rounded-md">Registro</a>
        </li>

        {{/if}}
      </ul>
      
    </nav>
  
   
 

<div>
  nbsp;
</div>
  {{{body}}}


  <aside
      class="sidebar fixed top-14 bottom-0 lg:left-0 p-2 w-[300px] overflow-y-auto text-center bg-gray-900"
    >
      <div class="text-gray-100 text-xl">
        <div align="center" class="p-2.5 mt-1">
        
          <img src="https://portal.wol.group/firmas/wol-media/wol-group2.png" width="120" height="auto" position= "center">

          <i
            class="bi bi-x cursor-pointer ml-28 lg:hidden"
            onclick="openSidebar()"
          ></i>
        </div>
        <div class="my-2 bg-gray-600 h-[1px]"></div>
      </div>
      <div
        class="p-2.5 flex items-center rounded-md px-4 duration-300 cursor-pointer bg-gray-700 text-white"
      >
        <i class="fas fa-search text-sm"></i>
        <input
          type="text"
          placeholder="Search"
          class="text-[15px] ml-4 w-full bg-transparent focus:outline-none"
        />
      </div>
      
    <a href="/">
      <div
        class="p-2.5 mt-3 flex items-center rounded-md px-4 duration-300 cursor-pointer hover:bg-blue-600 text-white">
        <i class="bi bi-house-door-fill"></i>
        <span class="text-[15px] ml-4 text-gray-200 font-bold">Home</span>
      </div>
    </a>
<!--
    <a href="/main">
      <div
        class="p-2.5 mt-3 flex items-center rounded-md px-4 duration-300 cursor-pointer hover:bg-blue-600 text-white">
        <i class="fas fa-solid fa-desktop"></i>
        <span class="text-[15px] ml-4 text-gray-200 font-bold">Ingreso</span>
      </div>
    </a>
    -->
      
<!-- Menu -->
       <div
        class="p-2.5 mt-3 flex items-center rounded-md px-4 duration-300 cursor-pointer hover:bg-blue-600 text-white"
        onclick="dropdown()">
        <i class="bi bi-box-seam"></i>
        <div class="flex justify-between w-full items-center">
          <span class="text-[15px] ml-4 text-gray-200 font-bold">Logistica</span>
          <span class="text-sm rotate-180" id="arrow">
            <i class="bi bi-chevron-down"></i>
          </span>
        </div>
      </div>
                <div
                  class="text-left text-sm mt-2 w-4/5 mx-auto text-gray-200 font-bold"
                  id="submenu">
                   <a href="/main">
                      <div
                        class="p-2.5 mt-3 flex items-center rounded-md px-4 duration-300 cursor-pointer hover:bg-blue-600 text-white">
                        <i class="fas fa-solid fa-desktop"></i>
                        <span class="text-[15px] ml-4 text-gray-200 font-bold">Ingreso</span>
                      </div>
                    </a>

                    <a href="/index">
                      <div
                        class="p-2.5 mt-3 flex items-center rounded-md px-4 duration-300 cursor-pointer hover:bg-blue-600 text-white">
                        <i class="bi bi-search"></i>
                        <span class="text-[15px] ml-4 text-gray-200 font-bold">Búsqueda</span>
                      </div>
                    </a>
                
                
                  
                 
               

                </div>

<!--- Menu --->
      <div
        class="p-2.5 mt-3 flex items-center rounded-md px-4 duration-300 cursor-pointer hover:bg-blue-600 text-white"
        onclick="dropdown3()">
        <i class="bi bi-file-earmark-bar-graph"></i>
        <div class="flex justify-between w-full items-center">
          <span class="text-[15px] ml-4 text-gray-200 font-bold">Reportes</span>
          <span class="text-sm rotate-180" id="arrow3">
            <i class="bi bi-chevron-down"></i>
          </span>
        </div>
      </div>
                <div
                  class="text-left text-sm mt-2 w-4/5 mx-auto text-gray-200 font-bold"
                  id="submenu3"
                >
                 <a href="/report">
                      <div
                        class="p-2.5 mt-3 flex items-center rounded-md px-4 duration-300 cursor-pointer hover:bg-blue-600 text-white">
                        <i class="bi bi-list-check"></i>
                        <span class="text-[15px] ml-4 text-gray-200 font-bold">Listado</span>
                      </div>
                    </a>

                    <a href="/letter">
                      <div
                        class="p-2.5 mt-3 flex items-center rounded-md px-4 duration-300 cursor-pointer hover:bg-blue-600 text-white">
                        <i class="bi bi-envelope"></i>
                        <span class="text-[15px] ml-4 text-gray-200 font-bold">Carta</span>
                      </div>
                    </a>

                </div>
      
<!-- Menu -->
      <div
        class="p-2.5 mt-3 flex items-center rounded-md px-4 duration-300 cursor-pointer hover:bg-blue-600 text-white"
        onclick="dropdown2()">
        <i class="bi bi-gear-fill"></i>
        <div class="flex justify-between w-full items-center">
          <span class="text-[15px] ml-4 text-gray-200 font-bold">Administración</span>
          <span class="text-sm rotate-180" id="arrow2">
            <i class="bi bi-chevron-down"></i>
          </span>
        </div>
      </div>
                <div
                  class="text-left text-sm mt-2 w-4/5 mx-auto text-gray-200 font-bold"
                  id="submenu2"
                >
                  <a href="/listar">
                      <div
                        class="p-2.5 mt-3 flex items-center rounded-md px-4 duration-300 cursor-pointer hover:bg-blue-600 text-white">
                        <i class="bi bi-building"></i>
                        <span class="text-[15px] ml-4 text-gray-200 font-bold">Agencia</span>
                      </div>
                    </a>

                     <a href="">
                      <div
                        class="p-2.5 mt-3 flex items-center rounded-md px-4 duration-300 cursor-pointer hover:bg-blue-600 text-white">
                        <i class="bi bi-person"></i>
                        <span class="text-[15px] ml-4 text-gray-200 font-bold">Mi Usuario</span>
                      </div>
                    </a>


                </div>


<!-- Menu -->
      <a href="/logout">
      <hr class="w-48 h-px mx-auto my-4 bg-gray-100 border-0 rounded md:my-10 dark:bg-gray-700">
        <div
          class="p-2.5 mt-3 flex items-center rounded-md px-4 duration-300 cursor-pointer hover:bg-blue-600 text-white">
          <i class="bi bi-box-arrow-in-right"></i>
          <span class="text-[15px] ml-4 text-gray-200 font-bold">Logout</span>
        </div>
       </a>

    </aside>
 
 
</body>


   <script type="text/javascript">
      function dropdown() {
        document.querySelector("#submenu").classList.toggle("hidden");
        document.querySelector("#arrow").classList.toggle("rotate-0");
      }
      dropdown();

      function dropdown2() {
        document.querySelector("#submenu2").classList.toggle("hidden");
        document.querySelector("#arrow2").classList.toggle("rotate-0");
      }
      dropdown2();

      function dropdown3() {
        document.querySelector("#submenu3").classList.toggle("hidden");
        document.querySelector("#arrow3").classList.toggle("rotate-0");
      }
      dropdown3();

      

      function openSidebar() {
        document.querySelector(".sidebar").classList.toggle("hidden");
      }

      openSidebar();
    </script>
</html>